.App {
	text-align: center;
	background-color: #989898;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #474747;
	font-weight: 600;
	border-radius: 0px;
}

.scoreboard {
	width: 40%;
	margin: auto;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 0px 30px;
}

.match {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	border-bottom: 2px solid #ccc;
}

.match span {
	width: 30%;
}

.match span:first-child {
	text-align: left;
}

.match span:nth-child(2) {
	text-align: center;
	font-size: calc(10px + 2vmin);
}

.match span:last-child {
	text-align: right;
}

.score {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 120px;
	background-color: #01a5e2;
	color: white;
	padding-bottom: 3px;
}

.home-flag,
.away-flag {
	position: absolute;
	margin-top: -10px;
	height: 70px;
}

.home-flag {
	left: 90%;
}

.away-flag {
	right: 90%;
}

.home,
.away {
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 1920px) {

	.scoreboard {
		width: 80%;
	}

	.home-flag,
	.away-flag {
		position: absolute;
		height: 60px;
	}

	.home-flag {
		left: 80%;
	}
	
	.away-flag {
		right: 80%;
	}
}

@media only screen and (max-width: 800px) {

	.scoreboard {
		width: 90%;
	}

	.home-flag,
	.away-flag {
		position: absolute;
		height: 40px;
	}

	.home-flag {
		left: 70%;
	}
	
	.away-flag {
		right: 70%;
	}
}

@keyframes blink {
	50% {
	  opacity: 0.9;
	}
  }
  .blink {
	animation: blink 1s step-start 0s infinite;
  }